doctype 5
html#ng-app(ng-app='BookmarksApp')
  head
    meta(charset='utf-8')
    meta(name='author', content='Erko Bridee')
    meta(name='description', content='RESTful example using Node.js')

    title= title

    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')

    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    // if lt IE 9
      script(src="//html5shim.googlecode.com/svn/trunk/html5.js")

  body
    block content

    block scripts