<div class="container">
  
  <div class="row"><h4>{{title}}</h4></div>
  
  <div class="row"><hr></div>

  <div class="row">

<div class="container">
  
  <form role="form" name="bookmarkForm">
    <div class="row">
      <div class="col-md-1">
        <label for="nameInput">Name</label>
      </div>
      <div class="col-md-4">
        <input autofocus
          type="text" 
          ng-class="{'is-invalid': bookmarkForm.name.$dirty && bookmarkForm.name.$invalid}"
          class="form-control error" id="nameInput"
          name="name" ng-model="bookmark.name" required>
        <div class="col invalid-feedback">
          Please provide a valid name.
        </div>
      </div>     
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-1">
        <label for="urlInput">URL</label>
      </div>
      <div class="col-md-4">
        <input 
          type="url" 
          ng-class="{'is-invalid': bookmarkForm.url.$dirty && bookmarkForm.url.$invalid}"
          class="form-control" id="urlInput"
          name="url" ng-model="bookmark.url" required>
          <div class="col invalid-feedback">
            Please provide a valid url.
          </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <label class="col-md-5" for="descriptionArea">Description</label>
    </div>
    <div class="row">
      <div class="col-md-5">
        <textarea 
          class="form-control" id="descriptionArea" 
          name="description" ng-model="bookmark.description"></textarea>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <label class="col-md-5" for="keywordsArea">Keywords</label>
    </div>
    <div class="row">
      <div class="col-md-5">
        <textarea 
          class="form-control" id="keywordsArea" 
          name="keywords" ng-model="bookmark.keywords"></textarea>
      </div>
    </div>

    <div class="row" ng-hide="showConfirm">&nbsp;</div>

    <div class="row" ng-hide="showConfirm">
      <div class="col-md-5">
        <a href="#bookmarks" class="btn">Cancel</a>
        <button 
          ng-click="save()" 
          ng-disabled="isClean() || bookmarkForm.$invalid"
          class="btn btn-primary">Save</button>
        <button 
          ng-click="delete()"
          ng-show="bookmark.id" 
          class="btn btn-danger">Delete</button>
      </div>
    </div>

    <div class="bs-callout bs-callout-danger" ng-show="showConfirm">
      <h4>Confirm</h4>
      <p>Delete <code>{{bookmark.name}}</code> bookmark?</p>
      <button ng-click="destroy()"
        class="btn btn-danger">Delete</button>
      <button ng-click="cancelDelete()"
        class="btn btn-default">Cancel</button>  
    </div>

  </form>
</div>

  </div>

</div>