<div class="container">

  <div class="row">  
      <div class="col padding-0">
            <a href="#bookmarks/new" class="btn btn-success">
              <i class="fa fa-plus"></i> New
            </a>

            <span>
              <button         
                type="button" 
                title="{{filterBtnLabel}}"
                ng-click="showFilterBtnClick()"
                class="btn btn-default"
                ng-class="{'active': showFilter, 'btn-primary': showFilter}">
                <i class="fa fa-filter"></i>
              </button>
            </span>
            <div class="float-right">
              <form 
                name="updateSizeForm" 
                ng-submit="updatePageSizeFormSubmit()"
                role="form" novalidate> 

                <div class="input-group md-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="pageSizeCounter">Page Size</label>
                  </div>
                  <input 
                    id="pageSizeCounter"
                    class="form-control"
                    type="number"
                    name="pageSize"
                    ng-model="pageSize" 
                    min="{{pageMinSize}}" max="{{pageMaxSize}}"
                    placeholder="min value 2">
                  <span class="input-group-append">
                    <button 
                      ng-click="updatePageSize()"
                      ng-disabled="updatePageSizeInvalid(pageSize)" 
                      class="btn btn-primary" type="button">
                      <i class="fa fa-check"></i>
                    </button>
                  </span>          
                </div>
                <div>
                  <p ng-show="updateSizeForm.pageSize.$error.min || updateSizeForm.pageSize.$error.max" 
                    class="text-center">
                    The value must be in range {{pageMinSize}} to {{pageMaxSize}}!
                  </p>
                </div>
              </form>
            </div>

            <div class="float-right page-info">
              <span ng-show="bookmarks.pages > 1">
                Pages: <span class="badge badge-primary">{{bookmarks.pages}}</span> &nbsp;&nbsp;
              </span>
              <span>
                Total records: <span class="badge badge-primary">{{bookmarks.count}}</span> 
              </span>
            </div>
      </div>
  </div>

  <div ng-include="'app/bookmarks/tpl.table.html'"></div>
</div>