<div class="row">
  <h2>
    Bookmarks 
    <span ng-show="bookmarks.count">({{bookmarks.count}})</span>
    <span> | page size ({{pageSize}})</span>
  </h2>

  <input type="text" ng-model="search" class="search-query" placeholder="Local Table Filter">

  <p>&nbsp;</p>

  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th width="100">Name</th>
        <th width="200">Description</th>
        <th width="10"><a href="#/new"><i class="icon-plus-sign"></i></a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bookmark in bookmarks.data | filter:search | orderBy:'name'">
        <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.name}}</a></td>
        <td>{{bookmark.description}}</td>
        <td>
        <a href="#/edit/{{bookmark.id}}"><i class="icon-pencil"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" ng-show="bookmarks.pages > 1">
  <!-- http://twitter.github.com/bootstrap/components.html#pagination -->
  <div class="pagination">
    <ul>
      <li 
        ng-repeat="n in [] | range: bookmarks.pages"
        ng-class="{active: n == bookmarks.page}"
      ><a ng-bind="n+1" ng-click="setPage()">1</a></li>
    </ul>
  </div>

</div>
